# VCS
.git
.gitignore

# Node
**/node_modules
**/dist
**/.vite
**/.turbo
**/.cache

# Python
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv

# Large datasets / artifacts
**/*.parquet
**/*.tif
